---
layout: default
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<p class="search-text">
  <input type="text" size=30 maxlength=30 id="search-input" class="input-text" placeholder="Search posts..">
</p>
<ul id="results-container"></ul>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <div clsss="meta">
        <span class="date">
	   {{ post.date | date: "%Y/%m/%d" }}
        </span>
	&raquo;
        <span class="index-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</span>

        <ul class="tag">
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        &#x3C; Prev
      </a>
    </span>
  {% else %}
    <span class="prev">&#x3C; Prev</span>
  {% endif %}
  <span class="page-number">
       &nbsp;&nbsp;
       {{ paginator.page }} of {{ paginator.total_pages }}
       &nbsp;&nbsp;
  </span>
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next &#x3E;
      </a>
    </span>
  {% else %}
    <span class="next">Next &#x3E;</span>
  {% endif %}
</div>
