{% if site.gitalk_repo %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/gitalk.css">
<script src="{{ site.baseurl }}/assets/js/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var title = location.pathname.substr(0, 49);
    var gitalk = new Gitalk({
            clientID: '{{ site.gitalk_clientId }}',
            clientSecret: '{{ site.gitalk_clientSecret }}',
            repo: '{{ site.gitalk_repo }}',
            owner: '{{ site.gitalk_owner }}',
            admin: ['arstercz'],
            id: title,
            distractionFreeMode: false
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
