{% if site.gitment_repo %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/gitment.css">
<script src="{{ site.baseurl }}/assets/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
            id: '{{ page.url }}',
            owner: '{{ site.gitment_owner }}',
            repo: '{{ site.gitment_repo }}',
            oauth: {
                client_id: '{{ site.gitment_clientId }}',
                client_secret: '{{ site.gitment_clientSecret }}',
             },
    });
    gitment.render('gitmentContainer');
</script>
{% endif %}
