{% if site.gitment_repo %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
            id: '{{ page.url }}',
            owner: '{{ site.gitment_owner }}',
            repo: '{{ site.gitment_repo }}',
            oauth: {
                client_id: '{{ site.gitment_clientId }}',
                client_secret: '{{ site.gitment_clientSecret }}',
             },
    });
    gitment.render('gitmentContainer');
</script>
{% endif %}
