---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
    <br>
    &uarr;<a href="{{ site.baseurl }}{{ post.url }}#">Back To Top</a>
  </div>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prevpost" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#x3C; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="nextpost" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
             {{ page.next.title }} &#x3E;
          </a>
      </span>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>
